body {
    background-image: url("../img/background_with_2.png");
    background-size: cover;
    background-color: rgb(236, 229, 122);
    text-align: center;
    color: rgb(95, 60, 8);
    /* フォント */
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.box {
    min-width: 250px;
    border-radius: 15px;
    padding: 1em 1em 3em 1em;
    margin: 2em 10em;
    font-weight: bold;
    border: solid 3px lightskyblue;
    background-color: #faf8f3;
}

#result {
    margin-top: 5em;
}
.input {
    margin-top: 5em;
}

#display {
    padding: 2em;
}
